In [2]:
import pandas as pd
import sqlite3
import os
import json

In [3]:
# setup path agar dinamis
BASE_DIR = os.path.dirname(os.getcwd())
RAW_DATA_DIR = os.path.join(BASE_DIR, "data", 'raw')
DB_PATH = os.path.join(RAW_DATA_DIR, 'database', 'statistik_hero_master.db')

In [4]:
print(f'Root project: {BASE_DIR}')
print(f'Raw data path: {RAW_DATA_DIR}')

Root project: d:\Other\BI-UAS\mobile-legends-draft-assistant
Raw data path: d:\Other\BI-UAS\mobile-legends-draft-assistant\data\raw

# SQL Data

In [22]:
# connect ke sqlite3
conn = sqlite3.connect(DB_PATH)

# ambil sampel data dari tabel
print("\n Sampel data dari table 'statistik_hero_master'")
df_hero = pd.read_sql("SELECT * FROM statistik_hero_master LIMIT 5", con=conn)
display(df_hero)
print(df_hero)

 Sampel data dari table 'statistik_hero_master'

,Rank,Nama Hero,Win Rate,Pick Rate,Ban Rate,Role,Lane,Speciality
0,1,Gloo,55.52%,0.69%,49.08%,Tank,"Exp Lane, Roam","Regen, Control"
1,2,Lolita,55.52%,0.13%,3.11%,"Support, Tank",Roam,"Guard, Crowd Control"
2,3,Sun,54.65%,1.53%,9.75%,Fighter,"Exp Lane, Jungle","Push, Damage"
3,4,Masha,54.64%,0.11%,0.32%,"Fighter, Tank",Exp Lane,"Push, Damage"
4,5,Diggie,54.59%,0.28%,40.98%,Support,Roam,"Guard, Poke"

   Rank Nama Hero Win Rate Pick Rate Ban Rate           Role  \
0     1      Gloo   55.52%     0.69%   49.08%           Tank
1     2    Lolita   55.52%     0.13%    3.11%  Support, Tank
2     3       Sun   54.65%     1.53%    9.75%        Fighter
3     4     Masha   54.64%     0.11%    0.32%  Fighter, Tank
4     5    Diggie   54.59%     0.28%   40.98%        Support

               Lane            Speciality
0    Exp Lane, Roam        Regen, Control
1              Roam  Guard, Crowd Control
2  Exp Lane, Jungle          Push, Damage
3          Exp Lane          Push, Damage
4              Roam           Guard, Poke

In [6]:
# 4. Cek Tipe Data & Missing Values
print("\nInfo Schema:")
print(df_hero.info())

conn.close()

Info Schema:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        5 non-null      int64
 1   Nama Hero   5 non-null      object
 2   Win Rate    5 non-null      object
 3   Pick Rate   5 non-null      object
 4   Ban Rate    5 non-null      object
 5   Role        5 non-null      object
 6   Lane        5 non-null      object
 7   Speciality  5 non-null      object
dtypes: int64(1), object(7)
memory usage: 452.0+ bytes
None

# CSV Main Data MPL ID & PH

In [24]:
mpl_id_path = os.path.join(RAW_DATA_DIR, "data_mpl_id_s16.csv")
mpl_ph_path = os.path.join(RAW_DATA_DIR, "data_mpl_ph_s16.csv")

df_id = pd.read_csv(mpl_id_path)
df_ph = pd.read_csv(mpl_ph_path)

display(df_id.head())
display(df_ph.head())

,Match_Order,Game_Number,Team_Left,Team_Right,Winner_Match,Left_Bans,Left_Picks,Right_Bans,Right_Picks
0,1,1,ONIC,Dewa United Esports,ONIC,"Wanwan 2025, Yi Sun-Shin, Fanny, Selena, Uranus","Cici, Joy, Pharsa, Claude 2024, Hylos","Zhuxin, Kalea, Phoveus 2024, Bruno 2023, Grang...","Esmeralda, Lancelot 2021, Helcurt 2024, Harith..."
1,1,2,ONIC,Dewa United Esports,ONIC,"Phoveus 2024, Fanny, Arlott, Uranus, Hilda","Cici, Lancelot 2021, Pharsa, Granger 2024, Gat...","Yi Sun-Shin, Wanwan 2025, Zhuxin, Harith, Mosk...","Esmeralda, Joy, Kagura 2021, Kalea, Beatrix"
2,2,1,Natus Vincere,EVOS,EVOS,"Wanwan 2025, Lancelot 2021, Yi Sun-Shin, Selen...","Uranus, Fanny, Pharsa, Moskov 2023, Gatotkaca","Zhuxin, Phoveus 2024, Kalea, Chou, Gloo 2025","Cici, Baxia, Valentina, Granger 2024, Franco"
3,2,2,Natus Vincere,EVOS,EVOS,"Wanwan 2025, Lancelot 2021, Yi Sun-Shin, Selen...","Paquito, Baxia, Pharsa, Granger 2024, Badang","Zhuxin, Phoveus 2024, Kalea, Uranus, Franco","Cici, Fredrinn, Lylia, Harith, Gatotkaca"
4,3,1,Team Liquid ID,Geek Fam ID,Geek Fam ID,"Lancelot 2021, Kalea, Cici, Joy, Badang","Phoveus 2024, Fanny, Kimmy 2025, Claude 2024, ...","Yi Sun-Shin, Wanwan 2025, Zhuxin, Lapu-Lapu, H...","Gloo 2025, Hayabusa 2021, Pharsa, Moskov 2023,..."

,Match_Order,Game_Number,Team_Left,Team_Right,Winner_Match,Left_Bans,Left_Picks,Right_Bans,Right_Picks
0,1,1,Omega Esports,TNC Pro Team,Omega Esports,"Baxia, Cici, Zhuxin, Fredrinn, Akai 2022","Lapu-Lapu, Fanny, Pharsa, Karrie, Kalea","Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Chou,...","Arlott, Joy, Selena, Granger 2024, Gatotkaca"
1,1,2,Omega Esports,TNC Pro Team,Omega Esports,"Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Khufr...","Hilda, Fanny, Pharsa, Harith, Gatotkaca","Kalea, Zhuxin, Uranus, Chou, Badang","Lapu-Lapu, Hayabusa 2021, Kimmy 2025, Moskov 2..."
2,1,3,Omega Esports,TNC Pro Team,Omega Esports,"Baxia, Zhuxin, Lapu-Lapu, Gatotkaca, Hylos","Phoveus 2024, Hayabusa 2021, Pharsa, Harith, K...","Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Kalea...","Gloo 2025, Fredrinn, Selena, Moskov 2023, Badang"
3,2,1,Aurora Gaming PH,Team Falcons PH,Team Falcons PH,"Arlott, Kalea, Lancelot 2021, Faramis 2022, Ki...","Lapu-Lapu, Yi Sun-Shin, Selena, Ruby, Hylos","Zhuxin, Wanwan 2025, Baxia, Chou, Badang","Cici, Joy, Kagura 2021, Moskov 2023, Gatotkaca"
4,2,2,Aurora Gaming PH,Team Falcons PH,Team Falcons PH,"Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Faram...","Uranus, Fanny, Selena, Moskov 2023, Kalea","Baxia, Arlott, Zhuxin, Harith, Lapu-Lapu","Cici, Joy, Pharsa, Bruno 2023, Gatotkaca"

In [25]:
print(df_id.head())

   Match_Order  Game_Number       Team_Left           Team_Right Winner_Match  \
0            1            1            ONIC  Dewa United Esports         ONIC
1            1            2            ONIC  Dewa United Esports         ONIC
2            2            1   Natus Vincere                 EVOS         EVOS
3            2            2   Natus Vincere                 EVOS         EVOS
4            3            1  Team Liquid ID          Geek Fam ID  Geek Fam ID

                                           Left_Bans  \
0    Wanwan 2025, Yi Sun-Shin, Fanny, Selena, Uranus
1         Phoveus 2024, Fanny, Arlott, Uranus, Hilda
2  Wanwan 2025, Lancelot 2021, Yi Sun-Shin, Selen...
3  Wanwan 2025, Lancelot 2021, Yi Sun-Shin, Selen...
4            Lancelot 2021, Kalea, Cici, Joy, Badang

                                          Left_Picks  \
0              Cici, Joy, Pharsa, Claude 2024, Hylos
1  Cici, Lancelot 2021, Pharsa, Granger 2024, Gat...
2      Uranus, Fanny, Pharsa, Moskov 2023, Gatotkaca
3       Paquito, Baxia, Pharsa, Granger 2024, Badang
4  Phoveus 2024, Fanny, Kimmy 2025, Claude 2024, ...

                                          Right_Bans  \
0  Zhuxin, Kalea, Phoveus 2024, Bruno 2023, Grang...
1  Yi Sun-Shin, Wanwan 2025, Zhuxin, Harith, Mosk...
2       Zhuxin, Phoveus 2024, Kalea, Chou, Gloo 2025
3        Zhuxin, Phoveus 2024, Kalea, Uranus, Franco
4  Yi Sun-Shin, Wanwan 2025, Zhuxin, Lapu-Lapu, H...

                                         Right_Picks
0  Esmeralda, Lancelot 2021, Helcurt 2024, Harith...
1        Esmeralda, Joy, Kagura 2021, Kalea, Beatrix
2       Cici, Baxia, Valentina, Granger 2024, Franco
3           Cici, Fredrinn, Lylia, Harith, Gatotkaca
4  Gloo 2025, Hayabusa 2021, Pharsa, Moskov 2023,...

In [26]:
print(df_ph.head())

   Match_Order  Game_Number         Team_Left       Team_Right  \
0            1            1     Omega Esports     TNC Pro Team
1            1            2     Omega Esports     TNC Pro Team
2            1            3     Omega Esports     TNC Pro Team
3            2            1  Aurora Gaming PH  Team Falcons PH
4            2            2  Aurora Gaming PH  Team Falcons PH

      Winner_Match                                          Left_Bans  \
0    Omega Esports           Baxia, Cici, Zhuxin, Fredrinn, Akai 2022
1    Omega Esports  Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Khufr...
2    Omega Esports         Baxia, Zhuxin, Lapu-Lapu, Gatotkaca, Hylos
3  Team Falcons PH  Arlott, Kalea, Lancelot 2021, Faramis 2022, Ki...
4  Team Falcons PH  Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Faram...

                                          Left_Picks  \
0            Lapu-Lapu, Fanny, Pharsa, Karrie, Kalea
1            Hilda, Fanny, Pharsa, Harith, Gatotkaca
2  Phoveus 2024, Hayabusa 2021, Pharsa, Harith, K...
3        Lapu-Lapu, Yi Sun-Shin, Selena, Ruby, Hylos
4          Uranus, Fanny, Selena, Moskov 2023, Kalea

                                          Right_Bans  \
0  Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Chou,...
1                Kalea, Zhuxin, Uranus, Chou, Badang
2  Wanwan 2025, Yi Sun-Shin, Lancelot 2021, Kalea...
3           Zhuxin, Wanwan 2025, Baxia, Chou, Badang
4           Baxia, Arlott, Zhuxin, Harith, Lapu-Lapu

                                         Right_Picks
0       Arlott, Joy, Selena, Granger 2024, Gatotkaca
1  Lapu-Lapu, Hayabusa 2021, Kimmy 2025, Moskov 2...
2   Gloo 2025, Fredrinn, Selena, Moskov 2023, Badang
3     Cici, Joy, Kagura 2021, Moskov 2023, Gatotkaca
4           Cici, Joy, Pharsa, Bruno 2023, Gatotkaca

In [14]:
print("\nInfo Schema MPL ID S16:")
print(df_id.info())

conn.close()

Info Schema MPL ID S16:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Match_Order   170 non-null    int64
 1   Game_Number   170 non-null    int64
 2   Team_Left     170 non-null    object
 3   Team_Right    170 non-null    object
 4   Winner_Match  170 non-null    object
 5   Left_Bans     170 non-null    object
 6   Left_Picks    170 non-null    object
 7   Right_Bans    170 non-null    object
 8   Right_Picks   170 non-null    object
dtypes: int64(2), object(7)
memory usage: 12.1+ KB
None

In [13]:
print("\nInfo Schema MPL PH S16:")
print(df_ph.info())

conn.close()

Info Schema MPL PH S16:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Match_Order   141 non-null    int64
 1   Game_Number   141 non-null    int64
 2   Team_Left     141 non-null    object
 3   Team_Right    141 non-null    object
 4   Winner_Match  141 non-null    object
 5   Left_Bans     141 non-null    object
 6   Left_Picks    141 non-null    object
 7   Right_Bans    141 non-null    object
 8   Right_Picks   141 non-null    object
dtypes: int64(2), object(7)
memory usage: 10.0+ KB
None

In [10]:
sample_pick = df_id.iloc[0]['Left_Picks']
print(f"\nContoh data mentah Left Picks: {sample_pick}")
print(f"Tipe datanya adalah: {type(sample_pick)}")

Contoh data mentah Left Picks: Cici, Joy, Pharsa, Claude 2024, Hylos
Tipe datanya adalah: <class 'str'>

In [15]:
# Test Parsing
try:
   import ast
   real_list = ast.literal_eval(sample_pick)
   print(f"Jika di-parse jadi list: {real_list}")
   print("Kesimpulan: Kolom ini butuh 'ast.literal_eval' saat Ingestion/Transform nanti.")
except:
   print("Format bukan list python standard. Perlu cleaning string manual.")

Format bukan list python standard. Perlu cleaning string manual.

# CSV Scraping Eksternal

## Meta dan Tier

In [17]:
meta_path = os.path.join(RAW_DATA_DIR, "data_hero_mlbb_tier_S.csv") 
df_meta = pd.read_csv(meta_path)

print("Sampel Meta:")
display(df_meta.head())

# Cek apakah ada nama hero yang aneh
print("\nUnik Hero di Tier ini:")
print(df_meta['Nama Hero'].unique()) # Sesuaikan nama kolom

Sampel Meta:

  Tier Nama Hero           Role            Lane
0    S    Floryn        Support            Roam
1    S      Cici        Fighter        Exp Lane
2    S  Fredrinn  Fighter, Tank          Jungle
3    S    Diggie        Support            Roam
4    S     Hilda  Fighter, Tank  Roam, Exp Lane

Unik Hero di Tier ini:
['Floryn' 'Cici' 'Fredrinn' 'Diggie' 'Hilda']

In [27]:
print(df_meta)

  Tier Nama Hero           Role            Lane
0    S    Floryn        Support            Roam
1    S      Cici        Fighter        Exp Lane
2    S  Fredrinn  Fighter, Tank          Jungle
3    S    Diggie        Support            Roam
4    S     Hilda  Fighter, Tank  Roam, Exp Lane

In [19]:
print("\nInfo Schema Meta Hero:")
print(df_meta.info())

conn.close()

Info Schema Meta Hero:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tier       5 non-null      object
 1   Nama Hero  5 non-null      object
 2   Role       5 non-null      object
 3   Lane       5 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes
None

## Counter Hero

In [20]:
counter_path = os.path.join(RAW_DATA_DIR, "data_counter_mlbb.csv")
df_counter = pd.read_csv(counter_path)

print("Sampel Counter:")
display(df_counter.head())

# Cek struktur: Apakah formatnya [Hero A, Hero B (Counternya)] atau Matrix?

Sampel Counter:

,Target_ID,Target_Name,Counter_Name,Score,Tier,Role,Lane,Speciality
0,1,Miya,Belerick,6.915,B,Tank,Roam,"Crowd Control, Regen"
1,1,Miya,Thamuz,3.918,B,Fighter,Exp Lane,"Chase, Damage"
2,1,Miya,Baxia,3.398,D,Tank,Jungle,"Support, Damage"
3,1,Miya,Terizla,2.370,D,"Fighter, Tank",Exp Lane,"Burst, Crowd Control"
4,1,Miya,Lylia,2.350,D,Mage,Mid Lane,"Push, Damage"

In [28]:
print(df_counter)

      Target_ID Target_Name Counter_Name  Score Tier                Role  \
0             1        Miya     Belerick  6.915    B                Tank
1             1        Miya       Thamuz  3.918    B             Fighter
2             1        Miya        Baxia  3.398    D                Tank
3             1        Miya      Terizla  2.370    D       Fighter, Tank
4             1        Miya        Lylia  2.350    D                Mage
...         ...         ...          ...    ...  ...                 ...
1389        129      Zetian        Estes  0.490    B             Support
1390        129      Zetian         Chip  0.154    D       Support, Tank
1391        129      Zetian  Yi Sun-shin  0.125   SS  Assassin, Marksman
1392        129      Zetian      Leomord  0.120    D             Fighter
1393        129      Zetian        Bruno  0.119    D            Marksman

           Lane              Speciality
0          Roam    Crowd Control, Regen
1      Exp Lane           Chase, Damage
2        Jungle         Support, Damage
3      Exp Lane    Burst, Crowd Control
4      Mid Lane            Push, Damage
...         ...                     ...
1389       Roam            Regen, Guard
1390       Roam  Support, Crowd Control
1391     Jungle         Finisher, Chase
1392     Jungle            Chase, Burst
1393  Gold Lane         Finisher, Burst

[1394 rows x 8 columns]

In [21]:
print("\nInfo Schema Counter Hero:")
print(df_counter.info())

conn.close()

Info Schema Counter Hero:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Target_ID     1394 non-null   int64
 1   Target_Name   1394 non-null   object
 2   Counter_Name  1394 non-null   object
 3   Score         1394 non-null   float64
 4   Tier          1394 non-null   object
 5   Role          1394 non-null   object
 6   Lane          1394 non-null   object
 7   Speciality    1394 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 87.3+ KB
None