In [1]:
import pandas as pd
import numpy as np
import sys, os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
   sys.path.append(project_root)

from source.utils.minio_helper import read_df_from_minio

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None) # Agar list panjang tidak terpotong

BUCKET_NAME = "mlbb-lakehouse"

In [4]:
print("ðŸ“¥ Loading Silver Data...")
df_ml = read_df_from_minio(BUCKET_NAME, "gold/features_draft_model.parquet", file_format='parquet')

df_hero_leaderboard = read_df_from_minio(BUCKET_NAME, "gold/hero_leaderboard.parquet", file_format='parquet')

print(f"1. Draft ML Features : {df_ml.shape if df_ml is not None else 'Gagal'}")
print(f"2. Leaderboard Data : {df_hero_leaderboard.shape if df_hero_leaderboard is not None else 'Gagal'}")

ðŸ“¥ Loading Silver Data...
1. Draft ML Features : (1, 12)
2. Leaderboard Data : (10, 5)

In [5]:
display(df_ml)

,match_id,Label_Winner,T1_Hero_1,T1_Hero_2,T1_Hero_3,T1_Hero_4,T1_Hero_5,T2_Hero_1,T2_Hero_2,T2_Hero_3,T2_Hero_4,T2_Hero_5
0,1,1,cici,joy,pharsa,claude,hylos,esmeralda,lancelot,helcurt,harith,gatotkaca

In [6]:
display(df_hero_leaderboard)

  hero_name_normalized  total_picks  total_wins  avg_counter_score  win_rate
0                 cici            1           1               0.68       1.0
1               claude            1           1               0.00       1.0
2            esmeralda            1           0               0.00       0.0
3            gatotkaca            1           0               0.00       0.0
4               harith            1           0               0.00       0.0
5              helcurt            1           0               0.00       0.0
6                hylos            1           1               0.00       1.0
7                  joy            1           1               0.00       1.0
8             lancelot            1           0               0.00       0.0
9               pharsa            1           1               0.00       1.0